# Binaries
**/bin/
bin-int/
Intermediates/
x64/
Engine/Engine/
Engine-Editor/Engine-Editor/
Engine-Editor/resources/Scripts/Debug/
Engine-Editor/SandboxProject/Assets/Scripts/Binaries/
Engine-Editor/SandboxProject/Assets/Scripts/obj/

# Cache
Engine-Editor/recentProjectSerializer.txt

# Muniffic files
*.log
recentProjectSerializer.txt
Engine-Editor/assets/cache
Engine-Editor/.env

# Dependancies
	#Box2D
	Engine/vendor/Box2D/Box2D/

	#GLFW
	Engine/vendor/GLFW/GLFW/

	#Glad
	Engine/vendor/Glad/Glad/

	# ImGui 
	Engine/vendor/Imgui/ImGui/
	imgui.ini

	#msdf-atlas-gen
	Engine/vendor/msdf-atlas-gen/msdf-atlas-gen-bin/

	#Yaml-cpp
	Engine/vendor/yaml-cpp/yamp-cpp/

# Libs
**.lib
**.pdb
**.dll

# Visual Studio
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Engine/vendor/VulkanSDK
Engine-Editor/assets/cache/
scripts/__pycache__/
Engine-Editor/resources/assistant/__pycache__/

#Python
Engine-Editor/.env

# IDE configurations
.idea/
.vscode/
.vs/

# CMake
CMakeFiles/
**/CMakeFiles/
**.cmake
**.dir/
!Dependencies.cmake
CMakeCache.txt

# Projects
Engine-Editor/Projects/*
!Engine-Editor/Projects/Sandbox/
!Engine-Editor/Projects/Quest/
