# Binaries
**/bin/
bin-int/
Intermediates/

# Muniffic files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Engine/vendor/VulkanSDK
Engine-Editor/assets/cache
scripts/__pycache__
Engine-Editor/.env
